################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrammarBotClient/bin/Debug/netstandard2.0
/GrammarBotClient/obj
/GrammarBotDotNetCoreClient/bin/Debug/netcoreapp3.0
/GrammarBotDotNetCoreClient/obj
